/* body {
    background-color: rgba(128,0,0,0.7);
} */

.slideWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.wrapperLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slider {
    background-color: green;
}

.slideViewer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    text-align: center;
    /* background-color: green; */
}

.slideGroup {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}