.slider {
    background-color: blue;
    background-size: cover;
}

.slideViewer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    text-align: center;
    background-color: black;
    color: white;
}

.slideGroup {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}