.slideViewer {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slideGroup {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}