.slider {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slideGroup {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide>h3 {
    font-size: 40px;
}

.slide:first-child {
    display: block;
}

.individualHikeLink {
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color:goldenrod;
    color: black;
    font-size: 20px;
    padding: 7px;
}